@CHARSET "UTF-8";
body{
   width:100%;
}

#cuestionario{
	width: 96%;
	heigth: 100%;
	}
.personales{
	margin: .5em 0;
	font: normal .8em 'Helvetica', Arial, sans-serif;
}

.personales label {
	float: left;
	width: 25%;
}
.personales input:focus {
	border: 2px solid #000;
	background: #F3F3F3F
}

.edad{
	margin: .4em 0;
	font: normal .6em 'Helvetica', Arial, sans-serif;
}

.edad label {
	float: left;
	width: 5%;
}

