@CHARSET "UTF-8";
body{
   width:100%;
}

#cuestionario{
	width: 96%;
	heigth: 100%;
	}
	
.personales{
	margin: .5em 0;
	font: normal .8em 'Helvetica', Arial, sans-serif;
}

.personales label {
	float: left;
	width: 25%;
}

.personales input:focus {
	border: 2px solid #000;
	background: #F3F3F3F
}

.edad{
	margin: .4em 0;
	font: normal .6em 'Helvetica', Arial, sans-serif;
}

.edad label {
	float: left;
	width: 5%;
}

form{clear:both;}

.datos{
	width: 43em;
	border: 2px solid #000;
	border-collapse: collapse;
	font: normal .8em 'Helvetica', Arial, sans-serif;
    align:center;
}

.datos th{
	border: 1px solid #000;
}

.datos td{
	text-align:center;
		
}	
.adress{
	width: 43em;
	border: 2px solid #000;
	border-collapse: collapse;
	font: normal .8em 'Helvetica', Arial, sans-serif;
    align:center;
}

.adress th{
	border: 1px solid #000;
}
.adress td{
	text-align:center;	
}	

#dalumnos{
margin: 1em 0;
}

#alumnosa{
margin: 1em 0;
}