body {
	background: black;
	margin: 0px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 100%;
	background-image: url(./cui/imagenes/fondo4.jpg);
}

#contenedor {
	margin: 10px auto;
	width: 800px;
	height: 500px;
	/*background-color: #ffffff;*/
	background-image: url(./cui/imagenes/cont_login.png);
}

#cabecera {
	width: 50em;
	margin-left: 0em;
	/*background-color: red;*/
	background-image: url(./cui/imagenes/_resguardo.jpg);
}

#login {
	margin: 10px auto;
	margin-top: 4em;
	height: 10em;
	width: 30em;
	background-image: url(./cui/imagenes/l_ogin.png)
}

#pie {
	clear: both;
	padding: 30px;
	width: 100%;
	height: 1.5em;
	/*background:#000;*/
	color: #fff;
	position: relative;
	margin: 0 auto;
	margin-top: 1em;
	/*background-image: url(imagenes/fondo1.jpg);*/
}

/*#pass{
    background-color: white;
}*/
div {
	margin: 1em 0;
	font-family: 'Helvetica', Arial, sans-serif;
}

label {
	float: left;
	width: 25%;
}

input:focus {
	border: 2px solid #000;
	background: #F3F3F3F
}